* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: sans-serif;
    max-width: 600px;
    margin: 40px auto;
    padding: 0 20px;
}

#caixa {
    padding: 15px;
    border: 1px solid #74d9e9cc;
    border-radius: 6px;
    margin-top: 10px;
}

.destaque {
    background-color: rgb(240, 255, 246);
    font-weight: bold;
}